.homepage-main {
    background-color: var(--linen);
}

.hero-section {
    position: relative;
}

.hero-section > div.hero-img {
    background-image: url(../assets/banner.jpg);
    background-size:cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 50vh;
    filter: blur(.2rem);
    margin: .5rem;
}

.banner-text {
    color: var(--linen);
    position: absolute;
    top: 25.2%;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: fit-content;
    text-align: center;
    background-color: rgb(72, 94, 64, .8);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.banner-text > :first-child {
    font-size: clamp(2rem, 2rem + 8vw, 5rem);
}

.banner-text > :last-child {
    font-size: 1.5rem;
    font-size: clamp(.9rem, .7rem + 1vw, 1.5rem);
}

.statement-section {
    /* background-color: #f3f3f3; */
    background-color: rgb(255, 255, 255, .7);
    padding: 6rem 3rem 7.3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.statement-section > :first-child {
    font-size: clamp(1.5rem, 1rem + 4vw, 2rem);
    font-weight: bold;
    text-align: center;
}

.statement-section > :last-child {
    font-size: clamp(.8rem, .1rem + 2vw, 1.1rem);
    font-weight: 500;
    line-height: 2rem;
    max-width: 60ch;
}

.top-products-section > p {
    color: var(--green);
    font-size: clamp(1.5rem, 1rem + 4vw, 2.5rem);
    font-weight: bold;
    text-align: center;
    margin: 5rem 0;
}

.top-products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.quote-section {
    background-color: rgb(255, 255, 255, .7);
    margin-top: 7rem;
    padding: 7rem 2rem;
}

.quote-section > :first-child {
    font-size: clamp(.8rem, .1rem + 2vw, 1.1rem);
    font-weight: bold;
    line-height: 2rem;
    max-width: 60ch;
    margin: 0 auto 2rem auto;
}

.quote-section > :last-child {
    font-size: clamp(.8rem, .1rem + 2vw, 1.1rem);
    margin: 0 auto;
    width: fit-content;
    opacity: .8;
}